<h3>All Recipes</h3>

<p>
<%= button_to "Add New Recipe", new_recipe_path, method: :get %>
</p>

<ul class="list-group">
  <% @recipes.each do |recipe| %>
    <li class="list-group-item list-group-item list-group-item-action list-group-item-info">
    <div class="recipe-name">
      <%= link_to recipe.name, recipe_path(recipe) %>
    </div>
    <div class="recipe-description">
      <%= recipe.description %>
    </div>
      <%= button_to "Delete", recipe_path(recipe), class:"btn btn-list-group-item list-group-item-danger", method: :delete %>
    </li>
    <br>
  <% end %>
</ul>