<h3>All Recipes</h3>

<p>
<%= button_to "Add New Recipe", new_recipe_path, method: :get %>
</p>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
    <div class="recipe-name">
      <%= link_to recipe.name, recipe_path(recipe) %>
    </div>
    <div class="recipe-description">
      <%= recipe.description %>
    </div>
      <%= button_to "Delete", recipe_path(recipe), class:"btn btn-danger", method: :delete %>
    </li>
    <br>
  <% end %>
</ul>